<!-- User logged in -->

<div class="card" *ngIf="auth.currentUser" style="width: 20rem;">
    <img class="card-img-top" [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" alt="Card image cap" width="100%">
    <div class="card-block">
        <h4 class="card-title">{{ auth.currentUserDisplayName }}</h4>
        <p class="card-text">Total Push ups: </p>
    </div>
</div>


<!-- User NOT logged in -->
<!-- <div class="box" *ngIf="!auth.currentUser">
        <h3>Howdy, {{ auth.currentUserDisplayName }}</h3>
        <p class="card-text">Login to get started...</p>
        <button class="button" routerLink="/login">Login</button>
    </div> -->